---
layout: default
title: Home
---

<!-- TODO: in both blog posts please link to their projects on github -->
<!-- TODO: make a favicon -->

<menu role="tablist" aria-label="Window with Tabs">
	<button role="tab" aria-controls="AboutMe" aria-selected="true">About Me</button>
	<button role="tab" aria-controls="Projects">Projects</button>
	<button role="tab" aria-controls="Blog">Blog</button>
	<!-- <button role="tab" aria-controls="ContactMe">Contact Me</button> --> <!-- TODO: add -->
	<button role="tab" aria-controls="GitHub">GitHub</button> <!-- TODO: add github logo next to this btn -->
	<!-- TODO: add linkedin button with logo just like github -->
</menu>

<style>
	fieldset {
		max-width: 700px;
	}

	fieldset .about-me {
		padding-top: 0;
		padding-bottom: 0;
	}

	fieldset p {
		margin-top: 0;
		margin-bottom: 0;
	}

	#contact-content {
		max-width: 500px;
		margin: 0 auto;
	}
</style>

<article role="tabpanel" id="AboutMe">
	<h1 style="margin-bottom: 0;">About Me</h1>
	
	<fieldset class="about-me">
		<legend><h2 style="margin-bottom: 0;">Bio</h2></legend>
		<p>I'm a self-taught programmer and electronics enthusiast. I work primarily in C and C++, and I like staying close to the hardware and optimizing code. My work spans software, graphics, and hardware, which overlap a lot in my projects.</p>
		<p>Some things I've built: an <a href="/Projects/psptrace/">instrumental profiler for the PSP (PlayStation Portable)</a> that outputs trace info at 4µs resolution, and a <a href="/Projects/OpenGL-Renderer/">modern OpenGL renderer</a> with deferred shading.</p>
		<p>I'm currently working on the <a href="/Projects/Athan-Lamp/">Athan Lamp</a>, a completely custom house decoration in the shape of a mosque that also works as a lamp and an Athan source. This project is built completely from scratch, from the PCB design, to the PCB fabrication (using CNC machine), to the firmware running on it.</p>
		<p>I document what I learn in the <a href="/?tab=Blog">Blog</a> tab, and track my projects in the <a href="/?tab=Projects">Projects</a> tab.</p>
		<p>I'm currently accepting internships, freelance projects, contracts, and full-time opportunities. If something I've built interests you, reach me at <a href="mailto:mahmoudwalid1205@outlook.com">mahmoudwalid1205@outlook.com</a>.</p>
	</fieldset>

	<fieldset class="about-me">
		<legend><h2 style="margin-bottom: 0;">Skills</h2></legend>

		<h3 style="margin-bottom: 0; margin-top: 0;">Software</h3>
		<p>I use <strong>C</strong> and <strong>C++</strong> for most of my code, and I have experience in <strong>MIPS32 Assembly</strong> having written low level code for the PSP's CPU and VFPU (SIMD Coprocessor for the PSP).</p>
		<p>I have experience in modern <strong>OpenGL</strong> (4.6 with DSA) and rendering techniques such as deferred shading, ambient occlusion, anti-aliasing (FXAA), shadow mapping, screen-space techniques, and more. I also have experience in the <strong>PSP's graphics API (PSP GU)</strong>.</p>
		<p>I also build websites and web apps in <strong>HTML, CSS</strong>, and <strong>JS</strong>, and backend development in <strong>Node.js</strong>. I'm currently accepting freelance and full-time web development opportunities.</p>
		<p>I use <strong>Visual Studio</strong>, <strong>Visual Studio Code</strong>, <strong>Git, RenderDoc, Tracy</strong>, and <strong>Intel VTune.</strong></p>
		<div style="
			margin-bottom: 10px;
			margin-top: 4px;
			display: flex;
			gap: 1.0em;
			align-items: center;
			flex-wrap: wrap;
		">
			<img src="/assets/img/c.png" style="width: 4em;">
			<img src="/assets/img/cpp.png" style="width: 4em;">
			<img src="/assets/img/gl_small.png" style="width: 4em;">
			<!-- <img src="/assets/img/vs.png" style="width: 4em;"> -->
			<!-- <img src="/assets/img/vscode.svg" style="width: 4em;"> -->
			<img src="/assets/img/Git_icon.svg" style="width: 4em;">
			<!-- <img src="/assets/img/RenderDoc_logo.svg" style="width: 4em;"> -->
			<img src="/assets/img/htmlcssjs.png" style="width: 4em;">
			<img src="/assets/img/nodejs.png" style="width: 4em;">
		</div>

		<h3 style="margin-bottom: 0; margin-top: 0;">Hardware</h3>
		<p>I have hardware skills, including:</p>
		<ul style="margin-top: 0;">
			<li>Soldering & PCB Assembly.</li>
			<li>Electronic Schematic & PCB Design.</li>
			<li>PCB fabrication using CNC machine.</li>
			<li>3D Printing.</li>
		</ul>
		<p>I use KiCAD and FlatCAM for electronics design, PCB design, and PCB fabrication.</p>
		<p>I'm currently accepting freelance opportunities for PCB design, and also freelance opportunities for PCB fabrication <strong>inside Egypt</strong>.</p>
	</fieldset>
	
	<!-- TODO: add logos for each platform -->
	<fieldset class="about-me">
		<legend><h2 style="margin-bottom: 0;">Contact Me</h2></legend>
		<p>E-Mail: <a href="mailto:mahmoudwalid1205@outlook.com">mahmoudwalid1205@outlook.com</a></p>
		<p>LinkedIn: <a href="https://www.linkedin.com/in/mahmoud-walid-nouh" target="_blank" rel="noopener noreferrer">@mahmoud-walid-nouh</a></p>
		<p>YouTube: <a href="https://www.youtube.com/@Mahmoud_1205" target="_blank" rel="noopener noreferrer">@Mahmoud_1205</a></p>
		<p>GitHub: <a href="https://github.com/Mahmoud1205/" target="_blank" rel="noopener noreferrer">Mahmoud1205</a></p>
		<p>Discord: <a href="https://discord.com/users/1421250052466413708" target="_blank" rel="noopener noreferrer">@mahmoud1205_</a></p>
	</fieldset>

	<fieldset>
		<legend><h4 style="margin-bottom: 0;">Legal Notices & Disclaimers</h4></legend>
		<small style="margin-top: 0;">
			OpenGL® and the oval logo are trademarks or registered trademarks of Hewlett Packard Enterprise in the United States and/or other countries worldwide.
		</small>
		<small>
			Git icon by Jason Long, <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC BY 3.0</a>, via <a href="https://commons.wikimedia.org/wiki/File:Git_icon.svg" target="_blank" rel="noopener">Wikimedia Commons</a>.
		</small>
	</fieldset>
</article>

<!-- TODO: add searching and filtering -->
<!-- TODO: add comments -->
<!-- TODO: add project thumbnails -->
<article role="tabpanel" hidden id="Projects">
	<h1>Projects</h1>
	{% for project in site.Projects %}
		<a href="{{ project.url }}">
			<fieldset style="max-width: 570px !important;">
				<legend><h3>{{ project.title }}</h3></legend>
				<p style="margin-top: -12px; margin-bottom: 4px;">{{ project.desc }}</p>
			</fieldset>
		</a>
	{% endfor %}
</article>

<article role="tabpanel" hidden id="Blog">
	<h1>Blog</h1>
	{% for post in site.posts %}
		<a href="{{ post.url }}">
			<fieldset style="max-width: 570px !important;">
				<legend><h3>{{ post.title }} — {{ post.date | date: "%B %d, %Y" }}</h3></legend>
				<p style="margin-top: -12px; margin-bottom: 4px;">{{ post.summary }}</p>
			</fieldset>
		</a>
	{% endfor %}
</article>

<style>
	form {
		display: flex;
		flex-direction: column;
		gap: 10px;
		max-width: 400px;
	}
</style>

<!-- TODO: do this -->
<!-- <article role="tabpanel" hidden id="ContactMe">
	<div id="contact-content">
		<h1>Contact Me</h1>

		<form action="/TODO" method="POST">
			<label for="name">Name</label>
			<input type="text" id="name" name="name" placeholder="Your name..." required>

			<label for="email">Email</label>
			<input type="email" id="email" name="email" placeholder="Your email..." required>

			<label for="subject">Subject</label>
			<input type="text" id="subject" name="subject" placeholder="Subject..." required>

			<label for="message">Message</label>
			<textarea id="message" name="message" placeholder="Write something..." rows="5" required></textarea>

			<button type="submit">Send Message</button>
		</form>

		<p>Reach me directly at:</p>
		<ul>
			<li>E-Mail: <code><a href="mailto:mahmoudwalid1205@outlook.com">mahmoudwalid1205@outlook.com</a></code></li>
			<li>Discord: <code>@mahmoud1205_</code></li>
		</ul>
	</div>
</article> -->

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const tabs = document.querySelectorAll('[role="tab"]');
		const tabPanels = document.querySelectorAll('[role="tabpanel"]');

		tabs.forEach(tab => {
			tab.addEventListener("click", () => {
				tabs.forEach(t => t.setAttribute("aria-selected", "false"));
				tabPanels.forEach(panel => panel.hidden = true);

				const tabName = tab.getAttribute("aria-controls");
				if (tabName == 'GitHub') {
					window.location.href = 'https://github.com/Mahmoud1205';
					return;
				}

				tab.setAttribute("aria-selected", "true");
				const targetPanel = document.getElementById(tabName);

				targetPanel.hidden = false;

				// set html tab query to tab name
				const url = new URL(window.location);
				url.searchParams.set("tab", tabName);
				window.history.pushState({}, '', url); // update url in browser
			});
		});

		// set tab from url query

		const initialUrl = new URL(window.location);
		tabAriaControls = initialUrl.searchParams.get("tab");
		if (!tabAriaControls)
			tabAriaControls = "AboutMe";

		const selectedTab = document.querySelector(`[aria-controls="${tabAriaControls}"]`);
		selectedTab.click();
	});
</script>
